@model _3K1DMidTest.Models.Customer

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h1 class="mt-4">Delete Customer</h1>

    <h3 class="text-danger">Are you sure you want to delete this?</h3>
    <div class="card my-4">
        <div class="card-body">
            <h4>Customer Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Name)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.BirthDate)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.BirthDate)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.IsYoungDriver)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IsYoungDriver)</dd>
            </dl>
        </div>
    </div>

    <form id="deleteForm" asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.getElementById("deleteForm").addEventListener("submit", function (event) {
        event.preventDefault();
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                this.submit();
            }
        });
    });
</script>
