@model _3K1DMidTest.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="mt-4">Customer Details</h1>

    <div class="card my-4">
        <div class="card-body">
            <h4 class="card-title">Customer Information</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Name)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.BirthDate)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.BirthDate)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.IsYoungDriver)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.IsYoungDriver)</dd>
            </dl>
        </div>
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
